<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Needle</title>

    <script src="_library/js/random.js"></script>
    <!-- https://github.com/yahoo/gifshot -->
    <script type="text/javascript" src="_library/js/gifshot.min.js"></script>
    <!-- https://github.com/tsayen/dom-to-image -->
    <script src="_library/js/dom2image.min.js"></script>
    <script src="_library/js/axios.min.js"></script>

    <link rel="stylesheet" href="_library/css/element.css" />
    <!-- 所有职业css UPDATE HERE-->
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="target/target.css" />
    <link rel="stylesheet" href="citizen/citizen.css" />
    <link rel="stylesheet" href="detective/detective.css" />
    <link rel="stylesheet" href="jam/jam.css" />
    <link rel="stylesheet" href="witch/witch.css" />
    <link rel="stylesheet" href="sheriff/sheriff.css" />
    <link rel="stylesheet" href="killer/killer.css" />
    <link rel="stylesheet" href="augur/augur.css" />
    <link rel="stylesheet" href="volunteer/volunteer.css" />
    <link rel="stylesheet" href="copies/copies.css" />
    <link rel="stylesheet" href="reporter/reporter.css" />
    <link rel="stylesheet" href="fortune/fortune.css" />
    <link rel="stylesheet" href="ganster/ganster.css"/>
  </head>
  <body>
    <div id="app" style="display: none">
      <el-container>
        <transition name="el-fade-in-linear">
          <div class="modal-overlay" v-show="showRank" @click="clickOverlay">
            <div class="modal-content">
              <div :class="[isGameOver==0? 'lose' : 'win','modal-title']">
                {{isGameOver==0? '失之交臂' : '久别重逢'}}
              </div>
              <el-row type="flex" justify="center" style="width: 100%">
                <el-col
                  v-for="(val,i) in metrics"
                  :key="i"
                  :span="6"
                  class="col-center flex-col"
                >
                  <div class="modal-item-value">{{val}}</div>
                  <div class="modal-item-name">{{metricsMap[i]}}</div>
                </el-col>
              </el-row>
              <div class="modal-title" style="font-size: 25px">评价</div>
              <el-row
                type="flex"
                justify="center"
                style="width: 100%; flex-wrap: wrap"
              >
                <el-tooltip
                  v-for="(item,i) in awards"
                  :key="item.id"
                  :content="item.note"
                  placement="top"
                >
                  <el-tag
                  :class="setCurrAwardClass(item)"
                    :color="item.color"
                    type="dark"
                    style="border: none"
                    >{{item.title}}</el-tag
                  >
                </el-tooltip>
              </el-row>
              <el-divider></el-divider>
              <el-row type="flex" justify="center" style="width: 100%">
                <el-col :span="24" class="col-center flex-col">
                  <el-button
                    v-show="gifStatus<=-1"
                    @click="clickShare"
                    :disabled="gifStatus==-2"
                    >生成动图</el-button
                  >
                  <div v-show="gifStatus==0">动图生成中...</div>
                  <div v-show="gifStatus==1">
                    动图分享：<a :href="gifURL">{{gifURL}}</a>
                  </div>
                </el-col>
              </el-row>
            </div>
          </div>
        </transition>
        <transition name="el-fade-in-linear">
          <div class="modal-overlay" v-show="showAwards" @click="clickOverlay">
            <div class="modal-content">
              <div class="modal-title">全部评价</div>
              <div class="modal-award">
                <div style="text-align: center">
                  {{allAwards[allAwardsIdx].name}}类
                </div>
                <el-carousel
                  height="190px"
                  @change="whenAwardsCarouselChange"
                  :autoplay="false"
                >
                  <el-carousel-item v-for="(item,i) in allAwards" :key="i">
                    <el-row
                      type="flex"
                      justify="center"
                      style="width: 100%; flex-wrap: wrap"
                    >
                      <el-tooltip
                        v-for="(val,j) in item.awards"
                        :key="val.id"
                        :content="val.note"
                        placement="top"
                      >
                        <el-tag
                          :class="setAwardClass(val)"
                          :color="val.color"
                          type="dark"
                          >{{val.title}}</el-tag
                        >
                      </el-tooltip>
                    </el-row>
                  </el-carousel-item>
                </el-carousel>
              </div>
            </div>
          </div>
        </transition>
        <transition name="el-fade-in-linear">
          <div class="modal-overlay" v-show="showHelp" @click="clickOverlay">
            <div class="modal-content">
              <div class="modal-title">游戏说明</div>
              <div style="text-align: center">
                消耗一个🔍来得知一个格子的身份，同时触发对应的效果。</br>
                给你有限的🔍，找出绿色的<span class="win">目标</span>即可获胜。</br>
                如果没有🔍，则视为失败
              </div>
              <!-- <div class="modal-title" style="font-size: 25px">百科</div>
              <el-row
                type="flex"
                justify="center"
                style="width: 100%; flex-wrap: wrap"
              >
                <el-tooltip content="指角色暴露出自己的身份" placement="top">
                  <span>现身</span>
                </el-tooltip>
                <el-divider direction="vertical"></el-divider>
                <el-tooltip content="耗费1个🔍，使角色【现身】" placement="top">
                  <span>调查</span>
                </el-tooltip>
                <el-divider direction="vertical"></el-divider>
                <el-tooltip
                  content="不妨碍你任务的人。特征是技能说明以白色为背景"
                  placement="top"
                >
                  <span>光明势力</span>
                </el-tooltip>
              </el-row> -->
            </div>
          </div>
        </transition>
        <el-main>
          <el-row type="flex">
            <el-col :span="4">
              <el-button
                type="info"
                icon="el-icon-collection"
                @click="clickAwards"
                style="float: right"
              >
              </el-button>
              <el-button
                type="info"
                icon="el-icon-question"
                @click="clickHelp"
                style="float: right; margin: 0 20px"
              >
              </el-button>
            </el-col>
            <el-col :span="16" class="col-center">
              <div class="big-title">Needle v2.5</div>
            </el-col>
            <el-col :span="4">
              <el-button
                type="info"
                icon="el-icon-s-data"
                @click="clickMetrics"
                v-show="isGameOver>=0"
              >
              </el-button>
            </el-col>
          </el-row>
          <el-divider></el-divider>
        <div style="position:relative" >
          <div class="game-mode" id="game-mode" >{{chances}}</div>
          
          <el-row type="flex">
            <el-col :span="12" :offset="6"
              >
              <div style="text-align: center">当前种子: {{seed}}</div>
              </el-col
            >
          </el-row>
          <el-row type="flex" :gutter="20">
            <el-col :span="4" :offset="6" class="col-center flex-col">
              <el-tooltip content="随机生成一局独一无二的地图" placement="top">
                <el-button
                  icon="el-icon-s-promotion"
                  type="primary"
                  @click="clickPractice"
                ></el-button>
              </el-tooltip>
              <div style="color: #409eff; font-weight: bold">练习模式</div>
              <div></div>
            </el-col>
            <el-col :span="4" class="col-center flex-col">
              <el-tooltip
                content="地图和他人相同，每一小时更新一次，可以收集成就"
                placement="top"
              >
                <el-button
                  icon="el-icon-trophy"
                  type="warning"
                  @click="clickContest"
                ></el-button>
              </el-tooltip>
              <div style="color: #e6a23c; font-weight: bold">
                竞技模式
              </div></el-col
            >
            <el-col :span="4" class="col-center flex-col">
              <el-popover placement="right" width="200" trigger="click" >
                <el-input
                  v-model="customSeed"
                  placeholder="自定义种子"
                  @keyup.enter.native="submitSeed"
                ></el-input>
                <el-button
                  icon="el-icon-star-off"
                  type="success"
                  slot="reference"
                ></el-button>
              </el-popover>
              <div style="color: #67c23a; font-weight: bold">
                自定义模式
              </div></el-col
            >
          </el-row>
        </div>
         
          <el-divider></el-divider>
          <el-row type="flex">
            <el-col
              :span="isMobile?12:6"
              class="flex-col"
              style="align-items: center"
            >
              <b class="left-title">说明</b>
              <div
                id="infos"
                class="flex-col"
                style="padding: 20px 0; align-items: center"
              ></div>
              <div id="keywords" class="flex-col" style="padding: 20px 0; align-items: center">
                <el-row v-show="keywordsShow['1']"><div><b>现身</b>：角色显示出自己的身份</div></el-row>
                <el-row v-show="keywordsShow['2']"><div><b>调查</b>：耗费一个🔍使角色【现身】</div></el-row>
                <el-row v-show="keywordsShow['3']"><div><b>光明势力</b>：技能说明背景为白色的角色</div></el-row>
                <el-row v-show="keywordsShow['4']"><div><b>黑暗势力</b>：技能说明背景为黑色的角色</div></el-row>
                <el-row v-show="keywordsShow['5']"><div><b>周围</b>：特指角色周围8格的区域</div></el-row>
                <el-row v-show="keywordsShow['6']"><div><b>相邻</b>：特指角色相邻4格的区域</div></el-row>
              </div>
            </el-col>
            <el-col :span="12" class="mid-border">
              <div class="col-center flex-col">
                <div id="main-image">
                  <div id="game-board"></div>
                  <div id="chances">🔍<span> × {{chances}}</span></div>
                </div>
              </div>
            </el-col>
            <el-col :span="isMobile?0:6" class="flex-col">
              <b class="right-title">笔记</b>
              <div id="records" style="padding: 20px">
                <el-row
                  v-for="(item,i) in records"
                  :key="'records'+i"
                  @mouseenter.native="mouseenterRecord(item)"
                  @mouseleave.native="mouseleaveRecord(item)"
                >
                  <el-col :span="6"
                    ><span
                      ><font :color="item.color"
                        ><b>{{item.name}}</b></font
                      ></span
                    ></el-col
                  >
                  <el-col :span="18"
                    ><el-progress
                      :percentage="calRecordPercent(item)"
                      :format="formatRecordStatus(item)"
                      :color="item.color"
                    ></el-progress
                  ></el-col>
                </el-row>
              </div>
            </el-col>
          </el-row>
          <div style="display: none" id="show-image"></div>
          <image style="display: none" id="result-image"></image>
          <!-- <el-row>
            <el-col :span="24">
              <canvas id="screenshot" width="500" height="500"></canvas>
            </el-col>
          </el-row> -->
        </el-main>
      </el-container>

      <!-- 所有职业悬浮框说明 UPDATE HERE-->
      <div id="roles" style="display: none">
        <div id="target" class="notes" data-keyword="">
          <div class="letter-box target"></div>
          <div class="notes-right">
            <div style="color: #66bb6a" class="notes-title">目标</div>
            <div class="notes-content">这就是你要找的人</div>
          </div>
        </div>
        <div id="citizen" class="notes" data-keyword="">
          <div class="letter-box citizen"></div>
          <div class="notes-right">
            <div style="color: #898989" class="notes-title">市民</div>
            <div class="notes-content">没有任何效果</div>
          </div>
        </div>
        <div id="detective" class="notes" data-keyword="">
          <div class="letter-box detective"></div>
          <div class="notes-right">
            <div style="color: #512da8" class="notes-title">侦探</div>
            <div class="notes-content">🔍 + 2</div>
          </div>
        </div>
        <div id="jam" class="notes bad" data-keyword="1,2,6">
          <div class="letter-box jam"></div>
          <div class="notes-right">
            <div style="color: #81d4fa" class="notes-title">干扰者</div>
            <div class="notes-content">
              现身前，相邻角色需要调查两次
            </div>
          </div>
        </div>
        <div id="jam-notes" class="notes bad" data-keyword="2,6">
          <div class="letter-box">❓</div>
          <div class="notes-right">
            <div style="color: #81d4fa" class="notes-title">
              <i>你受到了干扰</i>
            </div>
            <div class="notes-content">
              再调查一次吧！注意相邻角色中至少有一个<span style="color:#81d4fa">干扰者</span>
            </div>
          </div>
        </div>
        <div id="witch" class="notes bad" data-keyword="1,2,4">
          <div class="letter-box witch"></div>
          <div class="notes-right">
            <div style="color: #CE93D8" class="notes-title">女巫</div>
            <div class="notes-content">
              现身后，后两次调查如果使得一名邪恶势力现身，🔍变为1
            </div>
          </div>
        </div>
        <div v-for="(item,i) in witchSigns" :key="'witch-notes'+i" >
          <div v-bind:id="'witch-notes'+i" class="notes bad"data-keyword="4">
            <div class="letter-box">{{item}}</div>
            <div class="notes-right">
              <div style="color: #CE93D8" class="notes-title">
                <i>你被女巫诅咒了</i>
              </div>
              <div class="notes-content">
                现在如果碰到黑暗势力的话，🔍就会变成1个，同时你身上的诅咒全部失效
              </div>
            </div>
          </div>
        </div>
        <div id="sheriff" class="notes" data-keyword="1,5">
          <div class="letter-box sheriff"></div>
          <div class="notes-right">
            <div style="color: #5d4037" class="notes-title">警长</div>
            <div class="notes-content">周围角色全部现身后，将现在的🔍翻倍</div>
          </div>
        </div>
        <div id="killer" class="notes bad" data-keyword="1,2">
          <div class="letter-box killer"></div>
          <div class="notes-right">
            <div style="color: #ffe082" class="notes-title">杀手</div>
            <div class="notes-content">
              现身后，后三次调查如果使<span class="win">目标</span
              >现身，反而输掉游戏
            </div>
          </div>
        </div>
        <div v-for="(item,i) in killerSigns" :key="i" >
          <div v-bind:id="'killer-notes'+i" class="notes bad"data-keyword="1,2">
            <div class="letter-box">{{item}}</div>
            <div class="notes-right">
              <div style="color: #ffe082" class="notes-title">
                <i>杀手正在寻找目标</i>
              </div>
              <div class="notes-content">
                后{{i}}次调查尽量不要使<span class="win">目标</span
                >现身，否则<span class="win">目标</span>会被干掉！
              </div>
            </div>
          </div>
        </div>
        <div id="killed-notes" class="notes bad" data-keyword="1,2">
          <div class="letter-box">💀</div>
          <div class="notes-right">
            <div style="color: #ffe082" class="notes-title">
              <i>目标死了，任务失败</i>
            </div>
            <div class="notes-content">
              很遗憾，你帮<span style="color: #ffe082" >杀手</span>找到了<span class="win">目标</span>...
            </div>
          </div>
        </div>
        <div id="augur" class="notes" data-keyword="1">
          <div class="letter-box augur"></div>
          <div class="notes-right">
            <div style="color: #303f9f" class="notes-title">占卜师</div>
            <div class="notes-content">
              现身时，随机占卜一个2x2的区域，得知每个人的势力
            </div>
          </div>
        </div>
        <div id="augur-sun-notes" class="notes" data-keyword="1,3">
          <div class="letter-box">☀️</div>
          <div class="notes-right">
            <div style="color: #303f9f" class="notes-title">
              <i>灵光乍现</i>
            </div>
            <div class="notes-content">
              占卜师说他是光明势力，不过如果占卜后人物悄悄发生过移动就说不准了
            </div>
          </div>
        </div>
        <div id="augur-moon-notes" class="notes" data-keyword="1,4">
          <div class="letter-box">🌑</div>
          <div class="notes-right">
            <div style="color: #303f9f" class="notes-title">
              <i>暗流涌动</i>
            </div>
            <div class="notes-content">
              占卜师说他是黑暗势力，不过如果占卜后人物悄悄发生过移动就说不准了
            </div>
          </div>
        </div>
        <div id="volunteer" class="notes" data-keyword="2,6">
          <div class="letter-box volunteer"></div>
          <div class="notes-right">
            <div style="color: #fbc02d" class="notes-title">志愿者</div>
            <div class="notes-content">
              每当使用最后一个🔍对相邻角色调查时，🔍+ 2
            </div>
          </div>
        </div>
        <div id="copies" class="notes bad" data-keyword="1">
          <div class="letter-box copies"></div>
          <div class="notes-right">
            <div style="color: #80cbc4" class="notes-title">替身</div>
            <div class="notes-content">
              <span class="win">目标</span>将要现身时，会和<span class="win"
                >目标</span
              >交换位置并代替他现身。如果是这样，标出<span class="win"
                >目标</span
              >的方位
            </div>
          </div>
        </div>
        <div
          v-for="(item,i) in copiesArrow"
          :key="item"
          v-bind:id="'copies-notes-'+i"
          class="notes bad"
          data-keyword=""
        >
          <div class="letter-box">{{item}}</div>
          <div class="notes-right">
            <div style="color: #80cbc4" class="notes-title">
              <i>这次又让他逃了</i>
            </div>
            <div class="notes-content">
              <span style="color: #80cbc4" >替身</span>保护了<span class="win">目标</span
              >不被发现，但同样暴露了重要的线索！
            </div>
          </div>
        </div>
        <div id="reporter" class="notes" data-keyword="1,3,5">
          <div class="letter-box reporter"></div>
          <div class="notes-right">
            <div style="color: #0288d1" class="notes-title">记者</div>
            <div class="notes-content">现身时，得知周围角色中为光明势力的人数</div>
          </div>
        </div>
        <div
          v-for="(item,i) in 9"
          :key="'reporter-notes-'+i"
          v-bind:id="'reporter-notes-'+i"
          class="notes"
          data-keyword="3,5"
        >
          <div class="letter-box reporter">
            <div class="reporter-signs">{{i}}</div>
          </div>
          <div class="notes-right">
            <div style="color: #0288d1" class="notes-title">
              <i>采访完毕</i>
            </div>
            <div class="notes-content">
              “在我周围有{{i}}个光明势力的角色。”——前方记者报道
            </div>
          </div>
        </div>
        <div id="fortune" class="notes" data-keyword="1">
          <div class="letter-box fortune"></div>
          <div class="notes-right">
            <div style="color: #e64a19" class="notes-title">赏金猎人</div>
            <div class="notes-content">使一个还未现身的角色获得💰</div>
          </div>
        </div>

        <div id="fortune-notes" class="notes" data-keyword="2,6">
          <div class="letter-box">💰</div>
          <div class="notes-right">
            <div style="color: #e64a19" class="notes-title">
              <i>这一份是给你的</i>
            </div>
            <div class="notes-content">
              🔍+1。下一次调查额外得知相邻角色的身份
            </div>
          </div>
        </div>
        <div id="ganster" class="notes bad" data-keyword="">
          <div class="letter-box ganster"></div>
          <div class="notes-right">
            <div style="color: #bcaaa4" class="notes-title">
              黑帮老大
            </div>
            <div class="notes-content">
              在原地生成一个会不断走动的🦹‍♂️
            </div>
          </div>
        </div>
        <div id="ganster-brother-info" class="notes bad" data-keyword="2,5,6">
          <div class="letter-box">🦹‍♂️</div>
          <div class="notes-right">
            <div style="color: #bcaaa4" class="notes-title">
              <i>黑帮小弟</i>
            </div>
            <div class="notes-content">
              每次调查后，会移动到随机的相邻格上。<span style='color:#bcaaa4'>黑帮小弟</span>及周围的格子无法调查
            </div>
          </div>
        </div>
        <div id="ganster-area-info" class="notes bad" data-keyword="2,5">
          <div class="letter-box">⛔</div>
          <div class="notes-right">
            <div style="color: #bcaaa4" class="notes-title">
              <i>危险地带</i>
            </div>
            <div class="notes-content">
              <span style='color:#bcaaa4'>黑帮小弟</span>在周围的话，还是先不要来这里调查比较好
            </div>
          </div>
        </div>
      </div>
      <!-- 所有职业小标志 UPDATE HERE -->
      <div id="signs" style="display: none">
        <span id="jammed" class="sign">❓</span>
        <span id="killing3" class="sign">3️⃣</span>
        <span id="killing2" class="sign">2️⃣</span>
        <span id="killing1" class="sign">1️⃣</span>
        <span id="killing0" class="sign"></span>
        <span id="killed" class="sign">💀</span>
        <span id="augur-sun-signs" class="sign">☀️</span>
        <span id="augur-moon-signs" class="sign">🌑</span>
        <span
          v-for="(item,i) in copiesArrow"
          :key="item"
          v-bind:id="'copies-signs-'+i"
        >
          {{item}}
        </span>
        <div
          v-for="(item,i) in 9"
          :key="'reporter'+i"
          v-bind:id="'reporter-signs-'+i"
          class="reporter-signs"
        >
          {{i}}
        </div>
        <span id="fortune-signs">💰</span>
        <span id="witch-signs2">❗</span>
        <span id="witch-signs1">⁉️</span>
        <span id="ganster-brother-sign">🦹‍♂️</span>
        <span id="ganster-area-sign">⛔</span>
      </div>
    </div>

    <script src="_library/js/jquery.min.js"></script>
    <script src="_library/js/vue.js"></script>
    <script src="_library/js/element.js"></script>

    <script src="game.js" type="module"></script>
    <script></script>
  </body>
</html>
