<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Needle</title>
    <link rel="stylesheet" href="style.css" />
    <!-- 所有职业css UPDATE HERE-->
    <link rel="stylesheet" href="target/target.css" />
    <link rel="stylesheet" href="citizen/citizen.css" />
    <link rel="stylesheet" href="detective/detective.css" />
    <link rel="stylesheet" href="jam/jam.css" />
    <link rel="stylesheet" href="crazy/crazy.css" />
    <link rel="stylesheet" href="sheriff/sheriff.css" />
    <link rel="stylesheet" href="killer/killer.css" />
    <link rel="stylesheet" href="augur/augur.css" />
    <link rel="stylesheet" href="volunteer/volunteer.css" />
    <link rel="stylesheet" href="copies/copies.css" />
  </head>
  <body>
    <div id="app">
      <div
        style="width: 100vw"
        :class="[isGameOver==0? 'lose' : '',isGameOver==1? 'win' : '']"
      >
        <h1>Needle v1.7</h1>
      </div>

      <div style="width: 100vw; display: flex">
        <div id="left-side">
          <b style="margin: 0 0 20px 0; font-size: 20px">说明</b>
          <div id="infos"></div>
        </div>
        <div
          style="display: flex; flex-direction: column; justify-content: center"
        >
          <div id="game-board"></div>
          <div id="chances">
            <span><image src="./chances.png"></image></span>
            <span> × {{chances}}</span>
          </div>
        </div>
      </div>

      <!-- 所有职业悬浮框说明 UPDATE HERE-->
      <div id="roles" style="display: none">
        <div id="target" class="notes">
          <div class="letter-box target"></div>
          <div class="notes-right">
            <div style="color: #66bb6a" class="notes-title">目标</div>
            <div class="notes-content">这就是你要找的人</div>
          </div>
        </div>
        <div id="citizen" class="notes">
          <div class="letter-box citizen"></div>
          <div class="notes-right">
            <div style="color: #898989" class="notes-title">市民</div>
            <div class="notes-content">没有任何效果</div>
          </div>
        </div>
        <div id="detective" class="notes">
          <div class="letter-box detective"></div>
          <div class="notes-right">
            <div style="color: #512da8" class="notes-title">侦探</div>
            <div class="notes-content">
              <span><image src="./chances.png"></image></span>
              <span> + 2</span>
            </div>
          </div>
        </div>
        <div id="jam" class="notes bad">
          <div class="letter-box jam"></div>
          <div class="notes-right">
            <div style="color: #81d4fa" class="notes-title">干扰者</div>
            <div class="notes-content">
              <b>现身前</b>，相邻4格需要调查两次。
            </div>
          </div>
        </div>
        <div id="jam-notes" class="notes bad">
          <div class="letter-box">❓</div>
          <div class="notes-right">
            <div style="color: #81d4fa" class="notes-title">
              <i>你受到了干扰</i>
            </div>
            <div class="notes-content">
              再调查一次吧！注意相邻四格至少有一个干扰者
            </div>
          </div>
        </div>
        <div id="crazy" class="notes bad">
          <div class="letter-box crazy"></div>
          <div class="notes-right">
            <div style="color: #ef9a9a" class="notes-title">疯子</div>
            <div class="notes-content">
              如果你上一次调查使得一名邪恶势力现身，你失去所有<span
                ><image src="./chances.png"></image
              ></span>
            </div>
          </div>
        </div>
        <div id="sheriff" class="notes">
          <div class="letter-box sheriff"></div>
          <div class="notes-right">
            <div style="color: #5d4037" class="notes-title">警长</div>
            <div class="notes-content">
              周围的格子都现身后，将你现在的<span
                ><image src="./chances.png"></image></span
              >翻倍
            </div>
          </div>
        </div>
        <div id="killer" class="notes bad">
          <div class="letter-box killer"></div>
          <div class="notes-right">
            <div style="color: #ffe082" class="notes-title">杀手</div>
            <div class="notes-content">
              现身后，你的后三次调查如果使目标现身，反而输掉游戏
            </div>
          </div>
        </div>
        <div v-for="(item,i) in killerSigns" :key="i">
          <div v-bind:id="'killer-notes'+i" class="notes bad">
            <div class="letter-box">{{item}}</div>
            <div class="notes-right">
              <div style="color: #ffe082" class="notes-title">
                <i>杀手正在寻找目标</i>
              </div>
              <div class="notes-content">
                后{{i}}次调查尽量不要使目标现身，否则目标会被干掉！
              </div>
            </div>
          </div>
        </div>
        <div id="killed-notes" class="notes bad">
          <div class="letter-box">💀</div>
          <div class="notes-right">
            <div style="color: #ffe082" class="notes-title">
              <i>目标死了，任务失败</i>
            </div>
            <div class="notes-content">很遗憾，你帮杀手找到了目标...</div>
          </div>
        </div>
        <div id="augur" class="notes">
          <div class="letter-box augur"></div>
          <div class="notes-right">
            <div style="color: #303f9f" class="notes-title">占卜师</div>
            <div class="notes-content">
              现身时，随机占卜一个2x2的区域，得知每个人的势力
            </div>
          </div>
        </div>
        <div id="augur-sun-notes" class="notes">
          <div class="letter-box">☀️</div>
          <div class="notes-right">
            <div style="color: #303f9f" class="notes-title">
              <i>灵光乍现</i>
            </div>
            <div class="notes-content">
              占卜师说他是光明势力，不过如果占卜后人物悄悄发生过移动就说不准了
            </div>
          </div>
        </div>
        <div id="augur-moon-notes" class="notes">
          <div class="letter-box">🌑</div>
          <div class="notes-right">
            <div style="color: #303f9f" class="notes-title">
              <i>暗流涌动</i>
            </div>
            <div class="notes-content">
              占卜师说他是黑暗势力，不过如果占卜后人物悄悄发生过移动就说不准了
            </div>
          </div>
        </div>
        <div id="volunteer" class="notes">
          <div class="letter-box volunteer"></div>
          <div class="notes-right">
            <div style="color: #fbc02d" class="notes-title">志愿者</div>
            <div class="notes-content">
              每当你在相邻的格子上失去最后一个<span
                ><image src="./chances.png"></image></span
              >，<span><image src="./chances.png"></image></span> + 2
            </div>
          </div>
        </div>
      </div>
      <!-- 所有职业小标志 UPDATE HERE -->
      <div id="signs" style="display: none">
        <span id="jammed" class="sign">❓</span>
        <span id="killing3" class="sign">3️⃣</span>
        <span id="killing2" class="sign">2️⃣</span>
        <span id="killing1" class="sign">1️⃣</span>
        <span id="killing0" class="sign"></span>
        <span id="killed" class="sign">💀</span>
        <span id="augur-sun-signs" class="sign">☀️</span>
        <span id="augur-moon-signs" class="sign">🌑</span>
        <span
          v-for="(item,i) in copiesArrow"
          :key="item"
          v-bind:id="'copies-signs-'+i"
        >
          {{item}}
        </span>
      </div>
    </div>

    <script src="jquery.min.js"></script>
    <script src="script.js" type="module"></script>
    <script src="vue.js"></script>
  </body>
</html>
