<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Needle</title>

    <script src="_library/js/random.js"></script>
    <!-- https://github.com/yahoo/gifshot -->
    <script type="text/javascript" src="_library/js/gifshot.min.js"></script>
    <!-- https://github.com/tsayen/dom-to-image -->
    <script src="_library/js/dom2image.min.js"></script>
    <script src="_library/js/axios.min.js"></script>

    <link rel="stylesheet" href="_library/css/element.css" />
    <!-- 所有职业css UPDATE HERE-->
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="target/target.css" />
    <link rel="stylesheet" href="citizen/citizen.css" />
    <link rel="stylesheet" href="detective/detective.css" />
    <link rel="stylesheet" href="jam/jam.css" />
    <link rel="stylesheet" href="crazy/crazy.css" />
    <link rel="stylesheet" href="sheriff/sheriff.css" />
    <link rel="stylesheet" href="killer/killer.css" />
    <link rel="stylesheet" href="augur/augur.css" />
    <link rel="stylesheet" href="volunteer/volunteer.css" />
    <link rel="stylesheet" href="copies/copies.css" />
  </head>
  <body>
    <div id="app" style="display: none">
      <el-container>
        <transition name="el-fade-in-linear">
          <div class="modal-overlay" v-show="showRank" @click="clickOverlay">
            <div class="modal-content">
              <div :class="[isGameOver==0? 'lose' : 'win','modal-title']">
                {{isGameOver==0? '失之交臂' : '久别重逢'}}
              </div>
              <el-row type="flex" justify="center" style="width: 100%">
                <el-col
                  v-for="(val,key,i) in metrics"
                  :key="i"
                  :span="6"
                  class="col-center flex-col"
                >
                  <div class="modal-item-value">{{val}}</div>
                  <div class="modal-item-name">{{key}}</div>
                </el-col>
              </el-row>
              <div class="modal-title" style="font-size: 25px">评价</div>
              <el-row
                type="flex"
                justify="center"
                style="width: 100%; flex-wrap: wrap"
              >
                <el-tooltip
                  v-for="(item,i) in awards"
                  :content="item.note"
                  placement="top"
                >
                  <el-tag
                    class="modal-tag"
                    :color="item.color"
                    type="dark"
                    style="border: none"
                    >{{item.title}}</el-tag
                  >
                </el-tooltip>
              </el-row>
              <el-divider></el-divider>
              <el-row type="flex" justify="center" style="width: 100%">
                <el-col :span="24" class="col-center flex-col">
                  <el-button
                    v-show="gifStatus<=-1"
                    @click="clickShare"
                    :disabled="gifStatus==-2"
                    >生成动图</el-button
                  >
                  <div v-show="gifStatus==0">动图生成中...</div>
                  <div v-show="gifStatus==1">动图分享：{{gifURL}}</div>
                </el-col>
              </el-row>
            </div>
          </div>
        </transition>
        <el-main>
          <el-row type="flex" class="row-line">
            <el-col :span="16" :offset="4" class="col-center">
              <div class="big-title">Needle v2.0</div>
            </el-col>
            <el-col :span="4">
              <el-button
                type="info"
                icon="el-icon-s-data"
                @click="clickMetrics"
                v-show="isGameOver>=0"
              >
              </el-button>
            </el-col>
          </el-row>
          <el-row type="flex">
            <el-col :span="12" :offset="6"
              ><div style="text-align: center">当前种子: {{seed}}</div></el-col
            >
          </el-row>
          <el-row type="flex" :gutter="20" class="row-line">
            <el-col :span="4" :offset="6" class="col-center flex-col">
              <el-tooltip content="随机生成一局独一无二的地图" placement="top">
                <el-button
                  icon="el-icon-s-promotion"
                  type="primary"
                  @click="clickPractice"
                ></el-button>
              </el-tooltip>
              <div style="color: #409eff; font-weight: bold">练习模式</div>
              <div></div>
            </el-col>
            <el-col :span="4" class="col-center flex-col">
              <el-tooltip
                content="地图和他人相同，每一小时更新一次"
                placement="top"
              >
                <el-button
                  icon="el-icon-trophy"
                  type="warning"
                  @click="clickContest"
                ></el-button>
              </el-tooltip>
              <div style="color: #e6a23c; font-weight: bold">
                竞技模式
              </div></el-col
            >
            <el-col :span="4" class="col-center flex-col">
              <el-popover placement="right" width="200" trigger="click">
                <el-input
                  v-model="customSeed"
                  placeholder="自定义种子"
                  @keyup.enter.native="submitSeed"
                ></el-input>
                <el-button
                  icon="el-icon-star-off"
                  type="success"
                  slot="reference"
                ></el-button>
              </el-popover>
              <div style="color: #67c23a; font-weight: bold">
                自定义模式
              </div></el-col
            >
          </el-row>
          <el-row type="flex">
            <el-col
              :span="isMobile?12:6"
              class="flex-col"
              style="align-items: center"
            >
              <b class="left-title">说明</b>
              <div
                id="infos"
                class="flex-col"
                style="padding: 20px 0; align-items: center"
              ></div>
            </el-col>
            <el-col :span="12" class="mid-border">
              <div class="col-center flex-col">
                <div id="main-image">
                  <div id="game-board"></div>
                  <div id="chances">🔍<span> × {{chances}}</span></div>
                </div>
              </div>
            </el-col>
            <el-col :span="isMobile?0:6"></el-col>
          </el-row>
          <div style="display: none" id="show-image"></div>
          <image style="display: none" id="result-image"></image>
          <!-- <el-row>
            <el-col :span="24">
              <canvas id="screenshot" width="500" height="500"></canvas>
            </el-col>
          </el-row> -->
        </el-main>
      </el-container>

      <!-- 所有职业悬浮框说明 UPDATE HERE-->
      <div id="roles" style="display: none">
        <div id="target" class="notes">
          <div class="letter-box target"></div>
          <div class="notes-right">
            <div style="color: #66bb6a" class="notes-title">目标</div>
            <div class="notes-content">这就是你要找的人</div>
          </div>
        </div>
        <div id="citizen" class="notes">
          <div class="letter-box citizen"></div>
          <div class="notes-right">
            <div style="color: #898989" class="notes-title">市民</div>
            <div class="notes-content">没有任何效果</div>
          </div>
        </div>
        <div id="detective" class="notes">
          <div class="letter-box detective"></div>
          <div class="notes-right">
            <div style="color: #512da8" class="notes-title">侦探</div>
            <div class="notes-content">🔍 + 2</div>
          </div>
        </div>
        <div id="jam" class="notes bad">
          <div class="letter-box jam"></div>
          <div class="notes-right">
            <div style="color: #81d4fa" class="notes-title">干扰者</div>
            <div class="notes-content">
              <b>现身前</b>，相邻4格需要调查两次。
            </div>
          </div>
        </div>
        <div id="jam-notes" class="notes bad">
          <div class="letter-box">❓</div>
          <div class="notes-right">
            <div style="color: #81d4fa" class="notes-title">
              <i>你受到了干扰</i>
            </div>
            <div class="notes-content">
              再调查一次吧！注意相邻四格至少有一个干扰者
            </div>
          </div>
        </div>
        <div id="crazy" class="notes bad">
          <div class="letter-box crazy"></div>
          <div class="notes-right">
            <div style="color: #ef9a9a" class="notes-title">疯子</div>
            <div class="notes-content">
              如果上一次调查使得一名邪恶势力现身，🔍变为1
            </div>
          </div>
        </div>
        <div id="sheriff" class="notes">
          <div class="letter-box sheriff"></div>
          <div class="notes-right">
            <div style="color: #5d4037" class="notes-title">警长</div>
            <div class="notes-content">周围的格子都现身后，将现在的🔍翻倍</div>
          </div>
        </div>
        <div id="killer" class="notes bad">
          <div class="letter-box killer"></div>
          <div class="notes-right">
            <div style="color: #ffe082" class="notes-title">杀手</div>
            <div class="notes-content">
              现身后，后三次调查如果使<span class="win">目标</span
              >现身，反而输掉游戏
            </div>
          </div>
        </div>
        <div v-for="(item,i) in killerSigns" :key="i">
          <div v-bind:id="'killer-notes'+i" class="notes bad">
            <div class="letter-box">{{item}}</div>
            <div class="notes-right">
              <div style="color: #ffe082" class="notes-title">
                <i>杀手正在寻找目标</i>
              </div>
              <div class="notes-content">
                后{{i}}次调查尽量不要使<span class="win">目标</span
                >现身，否则<span class="win">目标</span>会被干掉！
              </div>
            </div>
          </div>
        </div>
        <div id="killed-notes" class="notes bad">
          <div class="letter-box">💀</div>
          <div class="notes-right">
            <div style="color: #ffe082" class="notes-title">
              <i>目标死了，任务失败</i>
            </div>
            <div class="notes-content">
              很遗憾，你帮杀手找到了<span class="win">目标</span>...
            </div>
          </div>
        </div>
        <div id="augur" class="notes">
          <div class="letter-box augur"></div>
          <div class="notes-right">
            <div style="color: #303f9f" class="notes-title">占卜师</div>
            <div class="notes-content">
              现身时，随机占卜一个2x2的区域，得知每个人的势力
            </div>
          </div>
        </div>
        <div id="augur-sun-notes" class="notes">
          <div class="letter-box">☀️</div>
          <div class="notes-right">
            <div style="color: #303f9f" class="notes-title">
              <i>灵光乍现</i>
            </div>
            <div class="notes-content">
              占卜师说他是光明势力，不过如果占卜后人物悄悄发生过移动就说不准了
            </div>
          </div>
        </div>
        <div id="augur-moon-notes" class="notes">
          <div class="letter-box">🌑</div>
          <div class="notes-right">
            <div style="color: #303f9f" class="notes-title">
              <i>暗流涌动</i>
            </div>
            <div class="notes-content">
              占卜师说他是黑暗势力，不过如果占卜后人物悄悄发生过移动就说不准了
            </div>
          </div>
        </div>
        <div id="volunteer" class="notes">
          <div class="letter-box volunteer"></div>
          <div class="notes-right">
            <div style="color: #fbc02d" class="notes-title">志愿者</div>
            <div class="notes-content">
              每当使用最后一个🔍在相邻的格子上调查时，🔍立刻+ 2
            </div>
          </div>
        </div>
        <div id="copies" class="notes bad">
          <div class="letter-box copies"></div>
          <div class="notes-right">
            <div style="color: #80cbc4" class="notes-title">替身</div>
            <div class="notes-content">
              <span class="win">目标</span>将要现身时，会和<span class="win"
                >目标</span
              >交换位置并代替他现身。如果是这样，标出<span class="win"
                >目标</span
              >的方位
            </div>
          </div>
        </div>
        <div
          v-for="(item,i) in copiesArrow"
          :key="item"
          v-bind:id="'copies-notes-'+i"
          class="notes bad"
        >
          <div class="letter-box">{{item}}</div>
          <div class="notes-right">
            <div style="color: #80cbc4" class="notes-title">
              <i>这次又让他逃了</i>
            </div>
            <div class="notes-content">
              替身保护了<span class="win">目标</span
              >不被发现，但同样暴露了重要的线索！
            </div>
          </div>
        </div>
      </div>
      <!-- 所有职业小标志 UPDATE HERE -->
      <div id="signs" style="display: none">
        <span id="jammed" class="sign">❓</span>
        <span id="killing3" class="sign">3️⃣</span>
        <span id="killing2" class="sign">2️⃣</span>
        <span id="killing1" class="sign">1️⃣</span>
        <span id="killing0" class="sign"></span>
        <span id="killed" class="sign">💀</span>
        <span id="augur-sun-signs" class="sign">☀️</span>
        <span id="augur-moon-signs" class="sign">🌑</span>
        <span
          v-for="(item,i) in copiesArrow"
          :key="item"
          v-bind:id="'copies-signs-'+i"
        >
          {{item}}
        </span>
      </div>
    </div>

    <script src="_library/js/jquery.min.js"></script>
    <script src="_library/js/vue.js"></script>
    <script src="_library/js/element.js"></script>

    <script src="game.js" type="module"></script>
    <script></script>
  </body>
</html>
