.col-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.row-line {
  border-bottom: gray 1px solid;
}
.el-row {
  padding: 10px 0;
}
.big-title {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
}
.mid-border {
  border-left: rgba(128, 128, 128, 0.25) 1px solid;
  border-right: rgba(128, 128, 128, 0.25) 1px solid;
}
#game-board {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#chances {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#chances span {
  margin-left: 10px;
}
#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.left-title {
  font-size: 20px;
}
.rowspan {
  margin-right: 20px;
}
.notes {
  position: relative;
  z-index: 101;
  background-color: white;
  word-wrap: break-word;
  word-break: break-word;
  display: flex;
  box-shadow: 0px 0px 10px rgb(94, 94, 94);
  border-radius: 5px;

  padding: 10px 20px;
  max-width: 20vw;
  align-items: center;
  margin-bottom: 20px;
}
.bad {
  background-color: rgb(30, 30, 30);
  color: white;
}
.notes-title {
  font-weight: bold;
}
.notes-right {
  margin-left: 20px;
}
.letter-box {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 3rem;
}
.letter-box span {
  pointer-events: none;
}
.letter-box div {
  pointer-events: none;
}
.over {
  opacity: 0.3;
}
.win {
  color: green;
}
.lose {
  color: crimson;
}
.filled-box {
  border: 2px solid black;
}

.letter-row {
  display: flex;
}
