h1 {
  text-align: center;
  margin-bottom: 100px;
}
#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.notes {
  position: absolute;
  z-index: 101;
  background-color: white;
  height: 5rem;
  white-space: nowrap;
  top: -6rem;
  left: -2rem;
  display: none;
  box-shadow: 0px 0px 10px rgb(94, 94, 94);
  border-radius: 5px;

  padding: 5px 20px;

  justify-content: center;
  align-items: center;
}
.notes-title {
  font-weight: bold;
}
.notes-right {
  margin-left: 20px;
}
.letter-box {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.filled-box {
  border: 2px solid black;
}

.letter-row {
  display: flex;
}
