h1 {
  text-align: center;
  margin-bottom: 100px;
  width: 100%;
}
#game-board {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#chances {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#chances span {
  margin-left: 10px;
}
#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#left-side {
  width: 33vw;
  padding: 0 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rowspan {
  margin-right: 20px;
}
.notes {
  position: relative;
  z-index: 101;
  background-color: white;
  white-space: nowrap;
  display: flex;
  box-shadow: 0px 0px 10px rgb(94, 94, 94);
  border-radius: 5px;

  padding: 10px 20px;
  max-width: 30vw;
  align-items: center;
  margin-bottom: 20px;
}
.bad {
  background-color: rgb(30, 30, 30);
  color: white;
}
.notes-title {
  font-weight: bold;
}
.notes-right {
  margin-left: 20px;
}
.letter-box {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.letter-box span {
  pointer-events: none;
}
.letter-box div {
  pointer-events: none;
}
.filled-box {
  border: 2px solid black;
}

.letter-row {
  display: flex;
}
